$green-light: #1dbf73;
$green-dark: #013914;
$white: rgb(255, 255, 255);
$white-light: rgb(250, 250, 250);
$white-light2: rgb(237, 236, 236);
$gray: #808080;
$light-gray: rgb(211, 211, 211);
$black: #000000;
