@import "~/styles/colors";
.gigs {
  width: 100%;
  display: flex;
  justify-content: center;

  .container {
    width: 1400px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .breadcrumbs {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 13px;
      color: #555;
    }

    p {
      color: #999;
      font-weight: 300;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      position: relative;

      .left {
        display: flex;
        align-items: center;
        gap: 10px;
        color: #555;
        font-weight: 300;

        input {
          padding: 5px;
          border: 1px solid lightgrey;
          border-radius: 5px;
          outline: none;

          &::placeholder {
            color: #999;
          }
        }

        button {
          padding: 5px 10px;
          background-color: #1dbf73;
          color: white;
          border: none;
          font-weight: 500;
          border-radius: 5px;
          cursor: pointer;
        }
      }

      .sortByMenu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 186px;
        cursor: pointer;
        .sortBy {
          color: #555;
          font-weight: 300;
        }
        .sortType {
          font-weight: 500;
        }
        img {
          width: 15px;
          height: 15px;
          transform: rotate(90deg);
          transition: all 0.3s ease-in-out;
          &.open {
            transform: rotate(-90deg);
          }
        }
      }
      .sortByMenuOverlay {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 238px;
        position: absolute;
        top: 30px;
        right: 0;
        z-index: 10;
        background-color: $white;
        color: #555;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        height: 0;
        &.open {
          height: 158px;
          border-radius: 5px;
          border: 0.5px solid lightgrey;
        }

        .menuOption {
          display: flex;
          flex: 1;
          align-items: center;
          padding: 9px 16px;
          &:hover {
            background-color: $gray-light;
            border-radius: 5px;
            cursor: pointer;
          }
          img {
            margin-right: 16px;
            visibility: hidden;
            &.visible {
              visibility: visible;
            }
          }
        }
      }
    }

    .cards {
      display: grid;
      gap: 20px;
      justify-content: space-evenly;
      grid-template-columns: repeat(auto-fill, 322px);
    }
  }
}
