@import "~/styles/colors.scss";

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $green-dark;
  color: $white;
  transition: 0.5s ease-in-out;
  position: sticky;
  top: 0;
  z-index: 999;
  &.active {
    background-color: $white;
    color: $black;
  }

  .container {
    display: flex;
    width: 100%;
    max-width: 1400px;
    justify-content: space-between;
    padding: 20px;

    .logo {
      font-size: 34px;
      font-weight: bold;
      .text {
      }
      .dot {
        color: $green-light;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      font-family: "Montserrat", sans-serif;
      font-weight: bold;
      cursor: pointer;
      button {
        color: $white;
        border-radius: 5px;
        padding: 10px 20px;
        border: 1px solid $white;
        background-color: transparent;
        cursor: pointer;

        &:hover {
          background-color: $green-light;
          color: $white;
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 0;
    border: 0.5px solid $light-gray;
  }

  .menu {
    color: $gray;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    max-width: 1400px;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
  }

  .user {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      object-fit: cover;
    }
    .options {
      position: absolute;
      top: 50px;
      right: 0;
      padding: 20px;
      background-color: $white;
      border: 1px solid $light-gray;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 200px;
      font-weight: 300;
      color: $gray;
    }
  }

  @media screen and (max-width: 625px) {
    .container {
      .links {
        span {
          display: none;
        }
        .user {
          display: flex;
        }
      }
    }
  }
}
