@import "~/styles/colors";

.home {
  .features {
    background-color: $white-light3;
    display: flex;
    justify-content: center;
    &.dark {
      background-color: $blue-marine;
      h1 {
        color: $white !important;
      }
      p {
        color: $white !important;
      }
      .title {
        color: $white !important;
        font-weight: 300;
        font-size: 14px;
      }
      .featureImage {
        width: 100%;
        object-fit: cover;
      }
      button {
        background-color: $green-light;
        color: $white;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        margin-top: 20px;
        cursor: pointer;
        border: none;
        width: max-content;
        &:hover {
          outline: 2px solid $white;
        }
        &:active {
          background-color: $green-dark;
          outline: none;
        }
      }
    }

    .container {
      padding: 100px 20px;
      max-width: 1400px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 100px;
      .item {
        display: flex;
        flex-direction: column;
        gap: 15px;
        min-width: 375px;
        &:first-child {
          flex: 2;
        }
        &:last-child {
          flex: 3;
        }
        h1 {
          font-weight: 700;
          margin-bottom: 10px;
          font-size: 36px;
        }
      }
      p {
        font-size: 18px;
        font-weight: 300;
        color: #808080;
        line-height: 28px;
        letter-spacing: 1px;
      }
      .title {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 500;
        font-size: 18px;
        color: $black;
        img {
          width: 24px;
          height: 24px;
        }
      }
      video {
        place-self: end;
        width: 100%;
        max-width: 850px;
        @media screen and (max-width: 1250px) {
          place-self: center;
        }
      }
    }
  }
}
